

.AboutPage-container {
    overflow: auto;
    min-height: 100%;
    min-width: 100%;
    background-color: #050e2f;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    color: lightblue
}

.about-headline {
    text-align: center;
}

#headshot {
    border-radius: 30px;
    max-height: 50vh;
    min-height: 370px;
}

.horizontal-divide{
    background-color: lightgreen;
    opacity: 0.7;
    width: 12%;
    height: 8px;
}

.AboutPage-container p {
    font-size: larger;
}

.about-intro h2 {
    color:lightgreen;
}

.AboutPage-container li {
    padding-top: 15px;
    font-size: large;
}

.AboutSkills{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px 40px;
    justify-content: space-evenly;
}

.skills-header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.AboutPage-container h1 {
    color: lightgreen;
    font-size: max(calc(10px + 2vw), 20px);
}

.horizontal-skills {
    background-color: lightgreen;
    opacity: 0.7;
    width: 12%;
    height: 8px;
}

.skills-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
    border-bottom: 4px solid rgba(144,238,144,0.8);
    padding-bottom: 15px;
    padding-top: 15px;
}

.skills-row h2 {
    font-weight: bolder;
}

.skills-row-end {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.skills-row-end  h2 {
    font-weight: bolder;
}

.skills-row-image img {
    display: block;
    width: 100%;
    max-width: 100px;
    height: auto;
    margin: auto;
}


.education-header-divide {
    background-color: lightgreen;
    opacity: 0.7;
    width: 12%;
    height: 8px;
}

.education-img img {
    background-color: #ffffffe3;
    padding: 20px 20px;
    border-radius: 20px;
    max-height: 300px;
}

.education-info a {
    text-decoration: none;
    color: lightgreen;
    transition: all 0.3s ease;
}

.AboutEducation a:hover {
    color: rgb(2, 127, 2);
}

.education-profile h2 {
    font-size: max(calc(10px + 1.5vw), 17px);
    color:lightgreen;
}

.headline-header {
    color: lightblue;

}

.project-card {
    background-color: #050e2f;
    color: lightblue;
    outline: 3px solid rgba(144,238,144,0.8);
    padding: 10px 10px;
}

#card-button {
    background-color: transparent;
    outline: 2px solid lightgreen !important;
    color: lightblue;
    border: none;
    transition: all 0.3s ease;

}

#card-button:hover {
    color: #050e2f;
    background-color: lightgreen;
    border: none;
    outline: 2px solid lightgreen !important;
}

.card-modal-header {
    background-color: #050e2f;
    color: lightgreen;
}

.card-modal-body {
    background-color: #050e2f;
}