
.RecommendationPage-container {
    height: 100%;
    width: 100%;
    /* padding-top: 30px; */
    padding-bottom: 50px;
}

.rec-header-wrapper {
    display: flex;
    background-color: #050e2f;
    width: 100%;
    height: max(20%, 100px);
    z-index: 10;
}


.rec-header {
    width: 100%;
    position: fixed;
    margin-top: 0px;
    padding-top: 30px;
    display: flex;
    align-items: center;
    background-color: #050e2f;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: 5px solid lightgreen;
    z-index: 10;

}

.rec-header h1 {
    color: lightgreen;
}

.letter-wrapper{
    margin-top: calc(max(10%, 100px) + 30px);
    width: max(100%, 1500px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
}

.letter-wrapper h1 {
    color: lightgreen;
}

.letter-wrapper h2 {
    color: lightblue;
}

.school-rec {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.fpga-rec{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}