
.RecommendationPage-container {
    height: 100%;
    width: max(100%, 600px);
    display: flex;
    position: relative;
    /* padding-top: 30px; */
    padding-bottom: 50px;


}

.rec-header {
    background-color: #050e2f;
    width: 100%;
    top: max(calc(40px + 3vh), 60px);
    height: max(15%, 100px);
    padding-top: 30px;
    z-index: 12;
    position: fixed;
    border-bottom: 5px solid lightgreen;

}

.rec-header-flex {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #050e2f;
    justify-content: center;
}

.rec-header h1 {
    color: lightgreen;
}

.letter-wrapper{
    margin-top: calc(max(10%, 100px) + 30px);
    height: 100%;
    width: 100%;
    min-width: 1500px;
    display: flex;
    padding-top: max(15vh, 100px);

    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
}

.letter-wrapper h1 {
    color: lightgreen;
}

.letter-wrapper h2 {
    color: lightblue;
}

.school-rec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.fpga-rec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}