
#navbar-wrapper {
  background-color: #050e2f;
  z-index: 20;


}

.navbar-container {
    color: lightblue;
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
    font-size: large;
    padding-left: 0px;
    background-color: #050e2f;
}

.icon-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#toggle-bar  {
    color: lightblue;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='lightgreen' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='lightblue' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
    border: 2px solid lightgreen;
    transition: all 0.3s ease;
}

.navbar-toggler:focus {
    box-shadow: none;
}


.navbar-toggler:active{
    border: none;
    outline: none;
    transform: none;
}


.navbar-name{
    font-size: larger;
    font-weight: bold;
}

.navbar-container a {
    color: lightblue;
}

.navbar-container a:hover {
    color: white;

}

#navbar-links a {
    padding-left: 40px;
}

#navbar-brand {
    padding-left: 20px;
}


.brand-container {
    position: relative;
    text-align: center;
}

.initials {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hex-icon {
    scale: 2.3
}

.horizontalDivider {
    width: 60px;
    height: 3px;
    background-color: lightblue;
}
