/* .sidebar {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
 } */

 .sidebar a {
    text-decoration: none;
    color: lightblue;
    font-size: 1.4em;
    transition: all 0.3s ease;
 }
 .sidebar a:hover {
    color: lightgreen;
 }
