.App {
  height: 100%;
  width: 100%;
}

.static-background {
  z-index: -1;
  background-color: #050e2f;
  position: fixed;
  height: 150vh;
  width: 150vw;
}

.App-content {
  /* margin-left: max(calc(20px + 2vw), 50px);
  margin-top: max(calc(40px + 3vh), 60px); */
  background-color: #050e2f;
  display: flex;
  /* padding-top: max(calc(40px + 3vh), 60px); */
  height: 100vh;
  width: 100vw;
  justify-content: center;
  z-index: 1000;
  /* min-width: calc(100vw - max(calc(20px + 2vw), 50px)); */
}

/* .App-sidebar {
  display: fixed;
  bottom: 0;
  left: 0;  
} */

/* .App-sidebar{
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  width: max(calc(20px + 2vw), 50px);
  position: fixed;
  z-index: 5;
  background-color: #050e2f;
  overflow: hidden;
} */

.App-navbar {
  background-color: #050e2f;
  overflow: hidden;
  padding-bottom: 15px;
}


