.App {
  height: 100%;
  width: 100%;
  /* scroll-behavior: smooth; */
}

.static-background {
  z-index: -1;
  background-color: #050e2f;
  position: fixed;
  height: 150vh;
  width: 150vw;
}

.App-content {
  background-color: #050e2f;
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  justify-content: center;
  z-index: 1000;
}

.App-navbar {
  background-color: #050e2f;
}


