
.ExperiencePage-container {
    overflow: auto;
    min-height: 100%;
    min-width: 100%;
    background-color: #050e2f;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    color: lightblue
}

.button-group-experience {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #050e2f;
    z-index: 12;
    border: 2px solid lightgreen;
}

.button-group-experience button {
    border: none;
    flex: 1;
    color: lightblue;
    background-color: transparent;
    padding: 10px 10px;
    transition: all 0.3s ease;

}

.button-group-experience button:hover {
    border: none;
    color: lightgreen;
    background-color: #050e2f;
}

.companyButton {
    border: 2px solid lightgreen;
    flex: 1;
    color: lightblue;
    background-color: #050e2f;
    padding: 10px 10px;
    transition: all 0.3s ease;
    font-size: larger;
}

.companyButton:active {
    border: 2px solid lightgreen !important;
    color: lightgreen !important;
    background-color: #050e2f !important;
    padding: 10px 10px !important;
}

.companyButton:hover {
    border: 2px solid lightgreen;
    color: lightgreen;
    background-color: #050e2f;
    padding: 10px 10px;
    transition: all 0.3s ease;
}

.companyDropDownItem {
    color: lightgreen;
    background-color: #050e2f;
}

.companyDropDownItem:hover {
    color: white;
    background-color: #050e2f;
    transition: all 0.3s ease;
}

.companyButton[aria-expanded="true"] {
    background-color: #050e2f;
    border: 2px solid lightgreen;
}

.companyDropDown button:active {
    border: 2px solid lightgreen;
    color: lightgreen;
    background-color: #050e2f;
}


.template-project-img img {
    width: auto;
    height: max(400px, 25vw);
    margin: auto;
    padding: 20px 20px;
    border-radius: 30px;
}

.template-container {
    padding-top: 30px;
}
.template-container p {
    color: lightblue;
    font-size: large;
}

.template-container li {
    color: lightblue;
    font-size: large;
}

.template-container h2 {
    color: lightgreen;
}